$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.panel-heading h3 {
  margin: 0;
}

.footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 30px;
  padding-top: 20px;
}

#map {
  height: 300px;
}

.user-image {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}


.table > tbody > tr > td {
  vertical-align: middle;
}

.users-table img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
}