<div class="row">
    <div class="col-md-6">
        <h4>Staff</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Sign In</th>
                    <th>Last Sign Out</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="person in data.users" ng-class="{ success: person.signedIn, danger: !person.signedIn }">
                    <td>{{ person.fullname }}</td>
                    <td>{{ person.signInText }}</td>
                    <td>{{ person.signOutText }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h4>Guests</h4>
        <h5 ng-show="data.guests.length === 0">No guests signed in</h5>
        <table class="table table-striped" ng-show="data.guests.length > 0">
            <thead>
            <tr>
                <th>Name</th>
                <th>Signed In</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="person in data.guests" ng-class="{ success: person.signedIn, danger: !person.signedIn }">
                <td>{{ person.name }}</td>
                <td>{{ person.signInText }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
