

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>So.. tell me about yourself</h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="fullname" id="fullname" class="form-control" ng-model="fullname" placeholder="Whats your full name?">
                        </div>

                        <!--<div class="form-group">-->
                            <!--<input type="text" id="name" name="name" class="form-control" ng-model="name" placeholder="Whats do you want to be greeted as?">-->
                        <!--</div>-->
                    </div>
                    <div class="col-md-6">
                        <!--<div class="form-group">-->
                            <!--<input type="text" id="email" name="email" class="form-control" ng-model="email" placeholder="Whats your email address?">-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<button class="btn btn-success btn-sm" ng-mousedown="startRecognition()" ng-mouseup="endRecognition()">{{buttonText}}</button>-->
                        <!--</div>-->
                        <div class="form-group">
                            <button class="btn btn-sm btn-success" ng-click="save()">Ok, i can live with that</button>
                        </div>

                        <!--<div class="form-group">-->
                            <!--<p>Hold down this button and speak your name - this will be what you say to be recognised.. so you can say whatever you like really</p>-->
                        <!--</div>-->
                    </div>
                </div>





                <div ng-show="recognisedName">

                    <div class="form-group">
                        <h3>What you said was transcribed as: {{recognisedName}}</h3>
                        <p>Don't worry if the spelling is wrong. It's just the internal reference we'll use. Try again, or don't.. the choice is yours</p>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>