<div class="row">

    <div class="col-md-1">
        <div class="form-group">
            <div class="user-image" style="background: url('{{user.imageUrl}}'); background-size: cover;"></div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label for="" class="control-label">Card ID</label>
            <input class="form-control" ng-model="user.cardId"/>
        </div>

        <div class="form-group">
            <label for="" class="control-label">Postcode</label>
            <input class="form-control" ng-model="user.postcode"/>
        </div>


        <div class="form-group">
            <label for="" class="control-label">Image</label>
            <input class="form-control" ng-model="user.imageUrl"/>
        </div>

        <div class="form-group">
            <label for="">asasg</label>

            <div class="input-group form-inline">
                <input type="text" class="form-control" ng-model="user.transcribedName">
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-mousedown="startRecord()" ng-mouseup="endRecord()">{{text}}</button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-sm btn-success" ng-click="save()">Save</button>
        </div>

    </div>
    
    <div class="col-md-3">
        <div class="form-group">
            <label for="" class="control-label">Fullname</label>
            <input class="form-control" ng-model="user.fullname"/>
        </div>
        <div class="form-group">
            <label for="" class="control-label">Display Name</label>
            <input class="form-control" ng-model="user.displayName"/>
        </div>

        <div class="form-group">
            <label for="" class="control-label">Email Address</label>
            <input type="text" class="form-control" ng-model="user.email">
        </div>

        <div class="form-group">
            <label for="" class="control-label">Birthday</label>
            <input type="date" class="form-control" ng-model="user.birthday">
        </div>
    </div>

    <div class="col-md-5">

        <div ng-show="user.song">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="" class="control-label">
                        Entrance Song
                    </label>

                    <div>
                        <span>{{user.song.artist}} - {{user.song.name}} <strong>{{user.song.date}}</strong></span>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <button class="btn btn-sm btn-info" ng-click="changeSong()">Change</button>
                </div>
            </div>
        </div>


        <div class="form-group pull-right" ng-show="!user.song">

            <label for="" class="control-label">Entry Song</label>

            <div class="input-group form-inline">
                <input type="text" ng-model="query" class="form-control"/>

                      <span class="input-group-btn">
                      <button class="btn btn-primary" ng-click="search()">Search</button>

                      </span>
            </div>

        </div>

        <div class="results-holder" ng-show="!user.song">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Artist</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="result in results" ng-click="saveSong(result)">
                    <td>{{result.date}}</td>
                    <td>{{result.artists[0].name}}</td>
                    <td>{{result.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>