<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Sign In/Out</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <button class="btn btn-success btn-lg" ng-mousedown="start()" ng-mouseup="stop()">Hold me down and say your name</button>
                </div>

                <div class="form-group">
                    <h1 ng-show="transcribedName">Transcribed as: {{transcribedName}}</h1>
                    <h1 ng-show="error">Try again.. are you added as a user?</h1>
                </div>
            </div>
        </div>


    </div>
</div>