<div class="row">
    <div class="col-md-6">
        <div class="form-group">

            <div class="input-group form-inline">
                <input type="text" class="form-control" id="autocomplete" placeholder="Where'd ya live, punk?">


                      <span class="input-group-btn">

                <button class="btn btn-primary" ng-click="getLocation()">Yup, there</button>
                          </span>
            </div>

        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Route</th>
                <th>Congestion</th>
                <th>Normal Duration</th>
                <th>Current Duration</th>
                <th>Distance</th>
                <!--<th></th>-->
                <!--<th></th>-->
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="set in bing.resourceSets[0].resources"
                ng-class="{danger: set.trafficCongestion === 'Heavy', info: set.trafficCongestion === 'Medium', warning: set.trafficCongestion === 'Mild' }">
                <td>{{set.routeLegs[0].description}}</td>
                <td>{{set.trafficCongestion}}</td>
                <td>{{ set.travelDuration / 60 | number:'0' }} minutes</td>
                <td>{{ set.travelDurationTraffic / 60 | number:'0' }} minutes</td>
                <td>{{ set.routeLegs[0].travelDistance | number:'0' }} miles</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="col-md-6">
        <div id="map"></div>
    </div>
</div>
