<div class="row">
    
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Postcode</th>
                <th>Entrance Song</th>
                <th>Card ID</th>
                <th></th>
            </tr>
            </thead>
            
            <tbody>
            <tr ng-repeat="user in users" class="users-table">
                <td><div class="user-image" style="background: url('{{user.imageUrl}}'); background-size: cover;"></div></td>
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.postcode}}</td>
                <td><span ng-show="user.song">{{user.song.artist}} / {{user.song.name}} / {{user.song.date}}</span><span ng-hide="user.song">No Song Set</span></td>
                <td>{{user.cardId}}</td>
                <td><a ng-href="#/user/{{user.$id}}" class="btn btn-primary btn-sm">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>